// Basic Elements
body {
  background: $red asset-url("cardboard-bg.jpg", image) repeat;
  color: white;
  font-family: $typeface-sans;
  font-weight: bold;
  text-shadow: 1px 1px 1px transparent;

  @include hidpi {
    background-size: 300px 300px;
  }
}

a {
  @include transition (all 0.2s ease-in-out);
  &:hover {
    color: darken($white, 20);
  }
}

p, a, h1, h2, h3, h4, h5, label {
  font-family: inherit;
  line-height: 1.25;
}

h1 {}

h2 {}

h3 {}

h4 {}

h5 {}

h6 {}

p {}
