- title ["Meat & Three Restaurant", "Franklin, TN"]

.l-intro
  .m-logo
    = image_tag "logo.png"
  .m-contact
    = link_to @contact.address, "#map"
    .contact-hours-open
      Open Today
      = @contact.todays_hours

.l-constrained
  .m-dotted-divider
