// General Containers

.l-constrained {
  @include outer-container;
  padding: 0 $page-gutter;
}

.l-main {
  @include media($breakpoint-ipad) {
    @include span-columns(8);
  }
}

.l-sidebar {
  @include media($breakpoint-ipad) {
    @include span-columns(4);
  }
}

.l-half {
  @include span-columns(6);
}

.l-split {
  @include row;
  margin: 1em auto;

  @include media-ie($breakpoint-ipad) {
    background: asset-url("stripe-bg.png", image) repeat-y 50%;

    .l-split-half {
      @include span-columns(6);
      padding: 0 1em;
    }
  }
}
