.l-intro {
  @include outer-container;
  padding: 0 $page-gutter;
  margin: 5em auto;

  .m-logo {
    margin-bottom: 1em;
  }

  @include media(480px) {
    margin: 3em auto;
  }

  @include media-ie(500px) {
    margin: 1.5em auto;
  }
}
