.m-menu {
  font-size: 90%;
  @include media-ie($breakpoint-ipad) {
    font-size: 100%;
  }
}

// Items
.m-menu-items {
  margin-bottom: 1em;
  font-size: 1.75em;
  text-align: center;

  &.plates {
    text-transform: uppercase;
  }

  ul {
    list-style: none;
    margin: 0;
  }

  li {
    margin: 0;
  }

  .m-dotted-divider {
    width: 80%;
    margin: 0.75em auto;
  }
}

// Image
.m-menu-image {
  img {
    width: 100%;
  }
}
