// Giant Titles
.m-giant-title {
  font-family: $typeface-serif;
  font-size: 4.5em;
  font-weight: normal;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
}

// Boxed Titles
.m-boxed-title {
  padding: 3px;
  margin-bottom: 1.75em;
  border: 3px solid $white;
  font-family: $typeface-serif;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;

  .boxed-title-wrap {
    background: $white;
  }

  h2 {
    width: 100%;
    padding: 0.2em 0 0.1em;
    color: $red;
    font-size: 2.625em;
    line-height: 1;
    font-weight: normal;
  }
}

// Double Bordered Titles
.m-double-bordered-title {
  padding: 0.25em 0;
  margin: 0.75em auto;
  border-top: 6px double $white;
  border-bottom: 6px double $white;
  font-size: 1em;
  text-transform: uppercase;
}
